{% extends "twilio/layout.html" %}
{% block headScripts%}
<link rel="stylesheet" href="static/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="static/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
{% endblock %}
{% block body %}
  <style>
    .sidebar-modal{
      background-color: rgba(0, 0, 0, 0.5);
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0px;
      z-index: 99999;
      display: none;
    }
    .sidebar-modal:hover{
      cursor: pointer;
    }
    .sidebar-content{
      position: fixed;
      top: 0;
      right: -450px;
      height: 100vh;
      width: 450px;
      max-width: 90vw;
      z-index: 999999;
      overflow-y: scroll;
    }
    .sidebar-content:hover{
      cursor: auto;
    }
    #chartdiv {
      width: 100%;
      height: 500px;
      background-color: #172b4d !important;
    }
    tspan{
      fill: white !important;
      font-family: Arial, Helvetica, sans-serif;
    }
    .amcharts-Grid-group{
        fill-opacity: 1 !important;
        fill: white !important;
    }
    .amcharts-Circle {
        fill: #5e72e4 !important;
    }
    .amcharts-Sprite-group.amcharts-RoundedRectangle-group{
        fill-opacity: .1;
    }
    .amcharts-Container.amcharts-Scrollbar.amcharts-XYChartScrollbar > .amcharts-Sprite-group{
        fill-opacity: .3;
    }
    @media (max-width: 576px)
    {
      #lead-summary{
        margin-left: auto;
        margin-right: auto;
        padding: 0;
      }
    }
  </style>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
          </div>
        </div>
        <!-- Card stats -->
        <center><img src="/static/img/spinner.svg" id="company-lead-summary-loading" width="100px"></center>
        <div class="row" id="company-lead-summary" style="display: none;">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Campaigns</h5>
                    <span class="h2 font-weight-bold mb-0">[[ summary.campaign_count ]]</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                      <i class="ni ni-mobile-button"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <a href="/campaigns" class="font-weight-bold mb-0">View Campaigns</a>
                </p>
              </div>
            </div>
          </div>
          <div class="row col-xl-9 col-md-6">
            <div class="col-xl-4 col-md-12">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Calls Made</h5>
                      <span class="h2 font-weight-bold mb-0">[[ formatMoney(summary.total_leads - summary.total_unactioned, 0) ]]</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                        <i class="ni ni-mobile-button"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <a href="/leads" class="font-weight-bold mb-0">View Report</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Calls Picked Up</h5>
                      <span class="h2 font-weight-bold mb-0">[[ formatMoney(summary.total_connected, 0) ]]</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                        <i class="ni ni-mobile-button"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <a href="/leads" class="font-weight-bold mb-0">View Report</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Calls Transferred</h5>
                      <span class="h2 font-weight-bold mb-0">[[ formatMoney(summary.total_interested, 0) ]]</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="ni ni-mobile-button"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <a href="/leads" class="font-weight-bold mb-0">View Report</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12">
        <div class="card bg-default">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 text-white mb-0">Leadings</h5>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item">
                    <a href="#" onclick="getBuiltInDates('week')" class="nav-link py-2 px-3 chartTab" id="weekTabChart" data-toggle="tab">
                      <span class="d-none d-md-block">Week</span>
                      <span class="d-md-none">W</span>
                    </a>
                  </li>
                  <li class="nav-item mr-2 mr-md-0">
                    <a href="#" onclick="getBuiltInDates('month')" class="nav-link py-2 px-3 chartTab" id="monthTabChart" data-toggle="tab">
                      <span class="d-none d-md-block">Month</span>
                      <span class="d-md-none">M</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-2 px-3 active" id="customChart" href="#chart-custom" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="chart-custom">
                      <span class="d-none d-md-block" data-toggle="tab">Custom</span>
                      <span class="d-md-none">C</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="collapse show" id="chart-custom">
              <div class="row justify-content-center mt-4">
                <div class="col ml-2 text-white">
                  <small for="fromdate">From:</small>
                  <input type="date" id="fromdate" name="fromdate" class="form-control">
                </div>
                <div class="col ml-2 text-white">
                  <small for="todate">To:</small>
                  <input type="date" id="todate" name="todate" class="form-control">
                </div>
                <div class="col ml-2 text-white">
                  <small>&nbsp;</small><br>
                  <a href="#" onclick="updateChart()" class="btn btn-primary ml-2">Submit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
              <div id="chartdiv"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 d-none" id="follow-up-body-loading">
        <center><img src="/static/img/spinner.svg" id="summary-stats-loading" width="100px"></center>
      </div>
      <div class="col-xl-4 d-none" id="follow-up-body" style="display: none;">
        <div class="card">
          <div class="card-header border-0 bg-info">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="mb-0 text-white">[[ length ]]</h1>
                <h4 class="text-white">Follow Up Calls</h4>
              </div>
            </div>
          </div>
          <div class="table-responsive" style="max-height: 374px; overflow-y: scroll;">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <tbody>
                <tr v-for="followUp in followUps">
                  <td scope="row">
                    <b>[[ followUp.campaign_name ]]</b><br>
                    <small>[[ followUp.first_name ]] [[ followUp.last_name ]]</small>
                  </td>
                  <td style="text-align: right;" class="d-none">
                    <button class="btn btn-icon btn-sm btn-primary" type="button">
                      <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-success" type="button">
                      <span class="btn-inner--icon"><i class="ni ni-archive-2"></i></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Appointments</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <center><img src="/static/img/spinner.svg" id="appointments-body-loading" width="100px"></center>
            <!-- Projects table -->
            <table class="table align-items-center table-flush" id="appointments-body" style="display: none;">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Campaign</th>
                  <th scope="col">Sales Member</th>
                  <th scope="col">Appointment Time</th>
                  <th scope="col">Action/Recordings</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="appointment in appointments">
                  <th scope="row">[[ appointment.campaign_name ]]</th>
                  <td>[[ appointment.first_name ]] [[ appointment.last_name ]]</td>
                  <td>[[ appointment.formatNiceDateTime(appointment.app_time) ]]</td>
                  <td>
                    <button class="btn btn-icon btn-primary" type="button" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Play">
                      <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                    </button>
                    <button class="btn btn-icon btn-success" type="button" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="View Lead Info">
                      <span class="btn-inner--icon"><i class="ni ni-archive-2"></i></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Interest Breakdown</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive" style="max-height: 400px; overflow-y: scroll;">
            <!-- Projects table -->
            <center><img src="/static/img/spinner.svg" id="campaign-breakdown-loading" width="100px"></center>
            <table class="table align-items-center table-flush" id="campaign-breakdown" style="display: none;">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Campaign</th>
                  <th scope="col">Leads</th>
                  <th scope="col">Interested/Uninterested</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="count in campaignCounts">
                  <th scope="row">[[ count.name ]]</th>
                  <td>[[ count.total ]]</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">[[ formatMoney((count.interested/(count.interested + count.not_interested))*100) ]]%</span>
                      <div>
                        <span>Interested</span>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" v-bind:aria-valuenow="count.interested" aria-valuemin="0" v-bind:aria-valuemax="(count.interested + count.not_interested)" style="width: 0%;"></div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center mt-2">
                      <span class="mr-2">[[ formatMoney((count.not_interested/(count.interested + count.not_interested))*100) ]]%</span>
                      <div>
                        <span>Uninterested</span>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" v-bind:aria-valuenow="count.not_interested" aria-valuemin="0" v-bind:aria-valuemax="(count.interested + count.not_interested)" style="width: 0%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-12" id="call-manager-body-loading">
      <center><img src="/static/img/spinner.svg" width="100px"></center>
    </div>
    <div class="row" id="call-manager-body" style="display: none;">
      <div class="col-xl-4" v-for="campaign in campaigns" v-if="campaign.remaining_leads != 0">
        <div class="card border-top" :class="campaign.status === 'started' ? 'border-success':'border-danger'">
            <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col-7">
                <h3 class="mb-0">[[ campaign.name ]]
                    <div v-if="campaign.remaining_leads > 0">
                      <span class="text-success" v-if="campaign.status === 'started'">(RUNNING)</span>
                      <span class="text-danger" v-if="campaign.status === 'paused'">(PAUSED)</span>
                      <span class="text-success" v-if="campaign.status === 'completed'">(COMPLETED)</span>
                    </div>
                    <div v-else>
                      <span class="text-success">(COMPLETED)</span>
                    </div>
                </h3>
                </div>
                <div class="col-5" style="text-align: right;">
                  <a v-bind:href="setLocationUrl(campaign.id)" class="btn btn-primary btn-sm" v-bind:campaign-id="campaign.id">View Dispositions</a>
                <small><b>Started:</b> [[ formatNiceDate(campaign.started_on) ]]</small>
                </div>
            </div>
            <div class="row align-items-center mt-4">
                <div class="col border-top border-bottom text-center">
                <small><b>Remaining</b></small>
                <p><b>[[ formatMoney(campaign.remaining_leads, 0) ]]</b></p>
                </div>
                <div class="col border text-center">
                <small><b>Completed</b></small>
                <p><b>[[ formatMoney(campaign.total_leads - campaign.remaining_leads, 0) ]]</b></p>
                </div>
                <div class="col border-top border-bottom text-center">
                <small><b>Total</b></small>
                <p><b>[[ formatMoney(campaign.total_leads, 0) ]]</b></p>
                </div>
            </div>
            <div class="row align-items-center mt-4">
                <span>Completed Leads: [[ formatMoney(campaign.total_leads - campaign.remaining_leads, 0) ]]/[[ formatMoney(campaign.total_leads, 0) ]]</span>
                <div class="progress mt-2" style="width: 100%;">
                <div class="progress-bar" :class="campaign.status === 'started' ? 'bg-success':'bg-danger'" role="progressbar" v-bind:aria-valuenow="campaign.total_leads - campaign.remaining_leads" aria-valuemin="0" v-bind:aria-valuemax="campaign.total_leads" style="width: 0%;"></div>
                </div>
            </div>
            <div class="row align-items-center mt-4 p-2 text-white">
              <div class="p-2 col ml-2" :class="campaign.status === 'started' ? 'bg-success':'bg-danger'">
                <p>Transfers Today</p>
                <p>0</p>
              </div>
              <div class="p-2 col ml-2" :class="campaign.status === 'started' ? 'bg-success':'bg-danger'">
                <p>This Hour</p>
                <p>0</p>
              </div>
              <div class="p-2 col ml-2" :class="campaign.status === 'started' ? 'bg-success':'bg-danger'">
                <p>Remaining Today</p>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="static/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="static/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

<script src="static/js/apiJS/getLeadCounts.js?v=1.3.8.7"></script>
<script src="static/js/vueJS/timecontroller.js?v=1.3.8.7"></script>
<script src="static/js/vueJS/leadcompanysummary.js?v=1.3.8.7"></script>
<script src="static/js/vueJS/followups.js?v=1.3.8.7"></script>
<script src="static/js/vueJS/appointments.js?v=1.3.8.7"></script>

<script src="static/js/vueJS/callmanager.js?v=1.3.8.7"></script>
<script src="static/js/vueJS/campaigncounts.js?v=1.3.8.7"></script>
<script>
  callCampaigns.campaigns = JSON.parse('{{campaigns | tojson}}');
  updateCompanyLeadSummary();
</script>
{% endblock %}